/*
  IT Dashboard Settings
  ---------------------

  Table of Contents:

   1. Colors
      a. Base Colors
      b. Theme Colors
      c. Chart Series Colors
   2. Typography
      a. Font Face Generation Settings
      b. Font Stacks
      c. Font Weights
      d. Font Sizes
      e. Line Heights
   3. Spacing
   4. Borders
   5. The Grid
   6. Off-Canvas
   7. Visualizations
   8. Transitions
   9. Shadows
*/

/*
   1. Colors

   a. Base Colors
      Reference colors in CSS using the color() function defined and documented in
      assets/styles/modules/_directives.scss (@section 1).
*/
$colors: (
  black: (
    hue: 0,
    sat: 0,
    lum: 0
  ),
  white: (
    hue: 0,
    sat: 0,
    lum: 100
  ),
  grey: (
    hue: 210,
    sat: 10
  ),
  red: (
    hue: 340,
    sat: 71
  ),
  orange: (
    hue: 23,
    sat: 100
  ),
  yellow: (
    hue: 53,
    sat: 98
  ),
  green: (
    hue: 140,
    sat: 55
  ),
  blue: (
    hue: 216,
    sat: 56
  ),
  purple: (
    hue: 281,
    sat: 100
  )
);

/*
   b. Theme Colors
*/
$color-base-background: color(white);
$color-base-text: color(grey, 10);
$color-base-header: color(blue, 30);
$color-base-chart: color(grey, 10);
$color-base-link: color(blue, 70);
$color-base-hover: color(blue, 50);
$color-base-background-body: color(white);

$color-dark-background: color(blue, 20);
$color-dark-background-alt: color(blue, 30);
$color-dark-background-highlight: color(blue, 40);
$color-dark-text: color(white);
$color-dark-header: color(blue, 95);
$color-dark-chart: color(white);
$color-dark-link: color(blue, 60);
$color-dark-hover: color(blue, 80);
$color-dark-hover-background: color(red, 40);
$color-dark-border: color(white, 100, 40);

$color-error-background: color(red, 80);
$color-error-border: color(red, 70);
$color-error-text: color(red, 20);
$color-error-link: color(red, 10);
$color-error-hover: color(black);

$color-info-background: color(blue, 90);
$color-info-border: color(blue, 70);
$color-info-text: color(grey, 10);
$color-info-link: color(blue, 40);
$color-info-hover: color(blue, 20);

$color-neutral-background: color(grey, 95);
$color-neutral-border: color(grey, 70);
$color-neutral-text: color(grey, 30);
$color-neutral-link: color(grey, 10);
$color-neutral-hover: color(black);

$color-success-background: color(green, 80);
$color-success-border: color(green, 60);
$color-success-text: color(green, 20);
$color-success-link: color(green, 10);
$color-success-hover: color(black);

$color-warning-background: color(yellow, 80);
$color-warning-border: color(yellow, 50);
$color-warning-text: color(yellow, 10);
$color-warning-link: color(yellow, 10);
$color-warning-hover: color(black);

$color-highlight-background: color(red, 40);
$color-highlight-text: color(white);

$color-transparent: color(black, 0, 0);

/*
   c. Chart Series Colors
      Reference colors in CSS using the chart-series() function defined and documented in
      assets/styles/modules/_directives.scss (@section 4).
*/
$chartTheme: (
  primary: (
    '#88aadd',  // color(blue, 70)
    '#ff8133',  // color(orange, 60)
    '#cf66ff',  // color(purple, 70)
    '#39c668'   // color(green)
  ),
  secondary: (
    '#e15181',  // color(red, 60)
    '#fcdf03',  // color(yellow)
    '#39c668'   // color(green)
  )
);

$chart-series-future: (
  (
    color: color(red, 40),
    hovercolor: color(red, 50)
  ),
  (
    color: color(orange, 40),
    hovercolor: color(orange, 50)
  ),
  (
    color: color(yellow, 40),
    hovercolor: color(yellow, 50)
  ),
  (
    color: color(green, 40),
    hovercolor: color(green, 50)
  ),
  (
    color: color(blue, 40),
    hovercolor: color(blue, 50)
  ),
  (
    color: color(purple, 40),
    hovercolor: color(purple, 50)
  ),
  (
    color: color(red, 60),
    hovercolor: color(red, 70)
  ),
  (
    color: color(orange, 60),
    hovercolor: color(orange, 70)
  ),
  (
    color: color(yellow, 60),
    hovercolor: color(yellow, 70)
  ),
  (
    color: color(green, 60),
    hovercolor: color(green, 70)
  ),
  (
    color: color(blue, 60),
    hovercolor: color(blue, 70)
  ),
  (
    color: color(purple, 60),
    hovercolor: color(purple, 70)
  )
);

/*
   2. Typography

   a. Font Face Generation Settings
      Settings used to generate @font-face declarations in fonts.scss and using the font-def()
      function defined and documented in assets/styles/modules/_directives.scss (@section 6).
*/
$font-path: 'assets/fonts';
$font-families: (
  Merriweather:
    (
       (light, 300, normal, normal),
       (lightitalic, 300, italic, normal),
       (bold, 700, normal, normal),
       (bolditalic, 700, italic, normal)
    )
);

/*
   b. Font Stacks
      Merriweather - https://github.com/EbenSorkin/Merriweather
      Merriweather was designed by Eben Sorkin of Sorkin Type, a type design foundry based in
      Western Massachaussets. Merriweather was designed to be a text face that is pleasant to
      read on screens. It features a very large x-height, slightly condensed letterforms, a
      mild diagonal stress, sturdy serifs and open forms.
*/
$font-family-base: Merriweather, Georgia, Times, "Times New Roman", serif;
$font-family-mono: Hack, Consolas, Menlo, Monaco, 'Ubuntu Mono', 'Courier New', Courier, monospace;

/*
   c. Font Weights
      We use the Light (300) weight as a base, and the Bold (700) sparingly for headers
      and emphasis.
*/
$font-weight-normal: 300;
$font-weight-bold: 700;

/*
   d. Font Sizes
      Defined here are the available font sizes.
*/
$root-size: 16px;
$base-size: 1rem;
$font-scale-ratio: 1.2;

$font-size-xxxs: ms(-4);
$font-size-xxs: ms(-3);
$font-size-xs: ms(-2);
$font-size-s: ms(-1);
$font-size-m: ms(0);
$font-size-l: ms(1);
$font-size-xl: ms(2);
$font-size-xxl: ms(3);
$font-size-xxxl: ms(4);
$font-size-xxxxl: ms(5);

$font-size-h1: $font-size-xxl;
$font-size-h2: $font-size-xl;
$font-size-h3: $font-size-l;
$font-size-h4: $font-size-m;
$font-size-h5: $font-size-m;
$font-size-h6: $font-size-m;

/*
   e. Line Heights
*/
$line-height-base: 1.5;
$line-height-header: 1.25;
$line-height-button: 1;
$line-height-form: 3rem;

/*
   3. Spacing
*/
$space-xxs: $base-size / 8;
$space-xs: $base-size / 4;
$space-s: $base-size / 2;
$space-m: $base-size;
$space-l: $base-size * 2;
$space-xl: $base-size * 4;
$space-xxl: $base-size * 8;

$space-stack-xxs: 0 0 $space-xxs 0;
$space-stack-xs: 0 0 $space-xs 0;
$space-stack-s: 0 0 $space-s 0;
$space-stack-m: 0 0 $space-m 0;
$space-stack-l: 0 0 $space-l 0;
$space-stack-xl: 0 0 $space-xl 0;
$space-stack-xxl: 0 0 $space-xxl 0;

$space-inline-xxs: 0 $space-xxs 0 0;
$space-inline-xs: 0 $space-xs 0 0;
$space-inline-s: 0 $space-s 0 0;
$space-inline-m: 0 $space-m 0 0;
$space-inline-l: 0 $space-l 0 0;
$space-inline-xl: 0 $space-xl 0 0;
$space-inline-xxl: 0 $space-xxl 0 0;

/*
   4. Borders
*/
$border-base: 1px solid color(blue, 20, 30);
$border-radius-base: 0;
$border-radius-circle: 100%;

/*
   5. The Grid
      Settings related to the overall page grid.
*/
$content-max-width: 1200px;

$breakpoints: (
  xs: 400px,
  s: 600px,
  m: 800px,
  l: 1200px,
  xl: 1600px
);

$grid-columns: 12;
$grid-gap-col: $space-m;
$grid-gap-row: $space-m;
$grid-item-sizes: (
  full: 12,
  three-quarters: 9,
  two-thirds: 8,
  half: 6,
  third: 4,
  quarter: 3,
  sixth: 2,
  twelfth: 1
);

/*
   6. Off-Canvas
*/
$off-canvas-width: 15rem;
$off-canvas-blocks: (pages, filters);

/*
   7. Visualizations
*/
$chart: (
  data: (
    urlBase: "../../../assets/data/test/fy19/"
  ),
  height: (
    area: 325,
    bar: 275,
    barGrouped: 500,
    barStacked: 400,
    donut: 425,
    donutSmall: 225,
    arc: 100,
    arcSmall: 35
  )
);

/*
   8. Transitions
*/
$transition: all 0.3s ease-in-out;
$transition-time: 0.3s;
$transition-easing: ease-in-out;
$transition-max: 99rem;

/*
   9. Shadows
*/
$box-shadow: 0 $space-xxs $space-xxs 0 color(black, 0, 30);
