html {
  font-size: $root-size;
  height: 100vh;
}

body {
  background-color: $color-base-background-body;
  color: $color-base-text;
  font-family: $font-family-base;
  font-size: $font-size-m;
  font-weight: $font-weight-normal;
  line-height: $line-height-base;
  min-height: 100vh;
  position: relative;

  > app-root {
    display: grid;
    grid-template-rows: auto auto;

    @include breakpoint(l) {
      grid-template-columns: 17% 1fr;
      min-height: 100vh;
    }
  }
}

::selection {
  background-color: $color-highlight-background;
  color: $color-highlight-text;
  text-shadow: 0;
}

::-moz-selection {
  background-color: $color-highlight-background;
  color: $color-highlight-text;
  text-shadow: 0;
}

a {
  @include link-underline($color-base-link);
  color: inherit;
  cursor: pointer;
  text-decoration: none;
  transition: $transition;

  .on-dark & {
    @include link-underline($color-dark-link);
  }

  .on-light & {
    @include link-underline($color-base-link);
  }

  &:active,
  &:focus,
  &:hover {
    color: $color-base-hover;

    .on-dark & {
      color: $color-dark-hover;
    }

    .on-light & {
      color: $color-base-hover;
    }
  }

  path,
  polygon,
  rect {
    fill: currentColor;
  }
}

app-content {
  align-items: stretch;
  display: grid;

  section > div > :last-child {
    margin-bottom: 0;
  }
}

button,
.button {
  display: inline-block;
  padding: 0.5em;
  border: 1px solid color(grey, 60);
  border-radius: $border-radius-base;
  background-color: color(grey, 90);
  color: color(grey, 30);
  line-height: $line-height-button;
  text-decoration: none;
  transition: $transition;

  &:active,
  &:focus,
  &:hover {
    background-color: $color-dark-hover-background;
    color: $color-dark-text;
  }

  &.button-centered {
    display: block;
    margin: 1rem auto;
  }

  &.button-s {
    font-size: $font-size-s;
  }

  &.button-close {
    padding: $space-xs;
    border: 0;
    color: $color-dark-text;
  }

  &.button-ghost {
    background-color: transparent;
    color: inherit;

    &:active,
    &:focus,
    &:hover {
      background-color: $color-dark-hover-background;
      color: $color-dark-text;
    }
  }

  &.button-primary {
    border-color: transparent;
    background-color: $color-dark-background;
    color: $color-dark-text;

    &:active,
    &:focus,
    &:hover {
      background-color: $color-dark-hover-background;
      color: $color-dark-text;
    }
  }

  &.button-transparent {
    border-color: transparent;
    background-color: transparent;
    color: inherit;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: $space-l 0 $space-m;
  color: $color-base-header;
  font-weight: $font-weight-bold;
  line-height: $line-height-header;

  &:first-child,
  + h1,
  + h2,
  + h3,
  + h4,
  + h5,
  + h6 {
    margin-top: 0;
  }

  &.hr {
    border-image-source: linear-gradient(to right,
      color(grey, 50, 0) 0%,
      color(grey, 50, 100) 50%,
      color(grey, 50, 0) 100%
    );
    border-image-slice: 1;
    border-style: solid;
    border-top-width: 1px;
    margin-top: $space-m;
    padding-top: $space-l;
  }

  .on-dark & {
    color: $color-dark-header;

    &.major {
      color: inherit;
    }

    &.hr {
      border-image-source: linear-gradient(to right,
        color(white, 100, 0) 0%,
        color(white, 100, 50) 50%,
        color(white, 100, 0) 100%);
    }
  }

  .on-light & {
    color: $color-base-header;

    &.major {
      color: inherit;
    }

    &.hr {
      border-image-source: linear-gradient(to right,
        color(grey, 100, 0) 0%,
        color(grey, 100, 50) 50%,
        color(grey, 100, 0) 100%);
    }
  }
}

code {
  font-size: $font-size-s !important;
}

h1,
.h1 {
  font-size: $font-size-h1;

  &.major {
    font-size: $font-size-h3;

    @include breakpoint(s) {
      font-size: $font-size-h1;
    }
  }
}

h2,
.h2 {
  font-size: $font-size-h2;
}

h3,
.h3 {
  font-size: $font-size-h3;
}

h4,
.h4 {
  font-size: $font-size-h4;
}

h5,
.h5 {
  font-size: $font-size-h5;
}

h6,
.h6 {
  font-size: $font-size-h6;
}

input,
select {
  border: $border-base;
  height: $line-height-form;
  padding: $space-s;
}

label {
  cursor: pointer;
}

main {
  overflow-x: hidden;
}

main article {
  min-height: 100vh;

  > h1:first-child {
    background-color: $color-dark-background-alt;
    color: $color-dark-text;
    font-size: $font-size-xl;
    line-height: 1;
    margin: 0;
    padding: $space-m;
  }

  > section {
    padding: $space-m;
  }

  > div > div {
    display: grid;
    grid-template-columns: auto;

    @include breakpoint(m) {
      grid-template-columns: 50% 50%;
    }

    &:only-child {
      min-height: 100vh;
    }

    &:nth-child(even) {
      > section,
      > aside {
        background-color: $color-neutral-background;
      }
    }

    > section {
      display: flex;
      flex-direction: column;

      > div:only-child {
        padding: $space-m;
      }

      > a {
        background-image: none;
        display: block;
        flex: 1;
        padding: $space-s $space-m;

        &:active,
        &:focus,
        &:hover {
          background-color: $color-info-background;
          color: $color-base-text;
        }
      }
    }

    > aside {
      > div {
        overflow-wrap: break-word;
        padding: $space-s $space-m;
        word-wrap: break-word;
        word-break: break-word;
      }

      h1 {
        color: $color-dark-text;
        font-size: $font-size-m;
        font-weight: $font-weight-bold;
        margin-bottom: 0;
      }

      ul {
        padding-left: 0;
      }

      li {
        list-style: none;
      }
    }
  }
}

p,
li {
  max-width: 40em;
}

p,
table {
  margin-bottom: $space-m;

  &:last-child {
    margin-bottom: 0;
  }
}

pre[class*="language-"] {
  background-color: $color-neutral-background !important;
  border: $border-base;
  margin: 0 !important;
  padding: $space-s $space-m !important;
}

svg {
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
}

table {
  td,
  th {
    padding: $space-s !important;
  }

  th {
    font-weight: $font-weight-bold;
  }
}


ul {
  margin-bottom: $space-m;
  padding-left: 1.75rem;

  &:only-child,
  &:last-child li:last-child {
    margin-bottom: 0;
  }

  li {
    margin: 0 0 $space-s;
    list-style: square;
  }

  &.clean {
    padding: 0;

    li {
      list-style: none;
      margin: 0;
    }
  }
}

.asterisk {
  text-align: center;

  span {
    position: relative;
    top: -0.125em;
    font-size: $font-size-s;
    font-style: italic;
  }
}

.banner {
  background-color: $color-base-background;

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-size: $font-size-l;
    font-weight: $font-weight-bold;
    margin-bottom: $space-s;
  }

  ul {
    padding-left: $space-m;
  }
}

.button-close {
  position: relative;
  top: (-$space-s);
  right: (-$space-s);
  min-width: 1.25em;
  background-color: transparent;
  font-size: $font-size-xl;
}

.code-label,
.code-label:first-child {
  background-color: color(blue, 20, 30);
  color: $color-dark-text;
  font-size: $font-size-s;
  font-weight: $font-weight-bold;
  margin: $space-m 0 0;
  padding: $space-s $space-m;
}

.constrained {
  @include constrained;
}

.info {
  background-color: $color-info-background;
  color: $color-info-text;
}

.inline-subhead {
  display: inline-block;
  font-size: 0.6em;
  font-style: italic;
  line-height: 2.5;
  margin-left: $space-m;
}

.knockout {
  background-color: color(grey, 90);
  text-decoration: none;
}

.loading {
  background-image: url('/assets/images/svg/loader.svg');
  background-repeat: no-repeat;
  background-position: center;
  margin: $space-m;
  min-height: 64px;
  text-indent: -9999rem;
}

.on-dark {
  background-color: $color-dark-background;
  color: $color-dark-text;

  &.on-dark-alt {
    background-color: $color-dark-background-alt;
  }
}

.padded {
  padding: $space-m;
}

.padded-left-right {
  padding-left: $space-m;
  padding-right: $space-m;
}

.padded-top-bottom {
  padding-bottom: $space-m;
  padding-top: $space-m;
}

.padded-top {
  padding-top: $space-m;
}

.padded-right {
  padding-right: $space-m;
}

.padded-bottom {
  padding-bottom: $space-m;
}

.padded-left {
  padding-left: $space-m;
}

.read-more {
  max-height: $transition-max;
  overflow: hidden;
  transition: max-height $transition-time $transition-easing;

  &.read-more-hidden {
    max-height: 0;
  }
}

.svg-wrapper {
  position: relative;
}

.table {
  width: 100%;

  tbody th {
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
  }

  thead {
    vertical-align: bottom;
  }

  th,
  td {
    padding: $space-xs;

    &:first-child {
      padding-left: 0;
    }

    &:last-child {
      padding-right: 0;
    }
  }

  th {
    text-align: left;
  }
}

.table-bordered {
  th,
  td {
    border: $border-base;
  }
}

.table-striped {
  tbody tr:nth-child(odd) {
    th,
    td {
      background-color: color(grey, 95);
    }
  }
}

.table-responsive {
  th,
  td {
    display: block;
    padding: $space-xs $space-s !important;
    word-break: break-word;
  }

  th {
    border-bottom-width: 0;
    margin-top: $space-s;
  }

  @include breakpoint(s) {
    th,
    td {
      display: table-cell;

      &:first-child {
        padding-left: 0;
      }

      &:last-child {
        padding-right: 0;
      }
    }

    th {
      border-bottom-width: 1px;
    }
  }
}

.tags {
  display: inline-block;
  position: relative;
  top: -1px;
  margin-bottom: -4px;
  padding: $space-xxs $space-xs;
  border: $border-base;
  border-radius: $border-radius-base;
  font-size: $font-size-s;
  font-weight: $font-weight-normal;
  line-height: 1;
}

.text-center {
  display: block;
  text-align: center;
}

.text-left {
  display: block;
  text-align: left;
}

.text-right {
  display: block;
  text-align: right;
}

.text-s {
  font-size: $font-size-s;
}

.video-wrapper {
  margin: 0 auto;
  max-width: 30rem;

  > div {
    height: 0;
    padding-bottom: 56.25%;
    padding-top: 25px;
    position: relative;

    > object {
      height: 100%;
      left: 0;
      position: absolute;
      top: 0;
      width: 100%;
    }
  }
}

.visually-hidden {
  height: 1px;
  left: -9999rem;
  overflow: hidden;
  position: absolute;
  top: auto;
  width: 1px;
}





.ggap1 > article {
  grid-column-gap: 1px;
  grid-row-gap: 1px;

  > section {
    padding: $space-m;

    &.spacer {
      padding: $space-xs;
    }
  }
}

.blue2 {
  background-color: color(blue, 30);
}

.blue3 {
  background-color: color(blue, 40);
}
