<article>
  <h1>Issues <span>Closed<ui-switch size="small" color="#afc6e9" [checked]="switchState" [(ngModel)]="switchState" (change)="switchChange()"></ui-switch>Open</span></h1>
  <div>
    <div *ngFor="let item of issues; let i = index" [attr.data-index]="i">
      <section>
        <a (click)="isOpen[i] = !isOpen[i]"><strong>{{item.number}}</strong>: {{item.title}}</a>
      </section>
      <aside>
        <div *ngIf="isOpen[i]">
          <ul>
            <li>{{item.body}}</li>
            <li><strong>Status:</strong> {{item.state}}</li>
            <li><strong>Created:</strong> {{item.created_at}}</li>
            <li><strong>Updated:</strong> {{item.updated_at}}</li>
          </ul>
          <a href="{{item.html_url}}" target="_blank">Read More</a>
        </div>
      </aside>
    </div>
  </div>
</article>
