<article>
  <h1>Schema</h1>
  <section>
    <div *ngIf="schemaCats$ | async; else loading">
      <div *ngFor="let schemaCat of schemaCats$ | async">
        <h2>{{schemaCat.name}} Examples</h2>
        <table class="table table-bordered table-striped table-responsive">
          <thead>
            <tr>
              <th>Example Schema</th>
              <th>Last Updated</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let example of schemaCat.examples">
              <td><a href="#/schema/{{schemaCat.name}}/{{example.name}}">{{example.name}}</a></td>
              <td><a href="#/schema/{{schemaCat.name}}/{{example.name}}">{{example.lastMod}}</a></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <ng-template #loading>
      <div class="loading"></div>
    </ng-template>
  </section>
</article>
