<form class="grid grid-gap-col">
  <input name="type" type="hidden">
  <label for="q" class="g-s-6 g-m-3">Search Validations</label>
  <input name="q" type="text" placeholder="Search" class="g-s-6 g-m-3">
  <select class="g-s-6 g-m-3">
    <option>Select Guidance Section</option>
    <option value="option 2">Option 2</option>
  </select>
  <select class="g-s-6 g-m-3">
    <option>Change Status</option>
    <option value="no change">No Change</option>
    <option value="deleted">Deleted</option>
    <option value="message change">Message Change</option>
  </select>
</form>
