<header [class.open]="navOpen" role="header">
  <a routerLink="/intro" class="site-name">CPIC</a>
  <button (click)="navOpen = !navOpen" class="nav-toggle button-ghost">Menu<span>▾</span></button>
  <nav role="navigation">
    <ul id="nav">
      <li><a routerLink="/schedule" routerLinkActive="active">Schedule</a></li>
      <li><a routerLink="/issues" routerLinkActive="active">Issues</a></li>
      <li><a routerLink="/schema" routerLinkActive="active">Schema</a></li>
      <li><a routerLink="/validations" routerLinkActive="active">Validations</a></li>
      <li><a routerLink="/jira-board" routerLinkActive="active">Jira Board</a></li>
      <li><a routerLink="/addendums" routerLinkActive="active">Guidance Addendums</a></li>
    </ul>
  </nav>
</header>
