@import 'modules/directives';
@import 'modules/settings';

header {
  display: grid;
  grid-area: nav;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto;
  position: relative;
  z-index: 99;

  @include breakpoint(l) {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
  }
}

a {
  background-image: none;
}

nav {
  display: flex;
  grid-column: 1 / 3;
  grid-row: 2;

  > ul {
    display: flex;
    flex-direction: column;
    margin: 0;
    max-height: 0;
    overflow: hidden;
    padding: 0;
    transition: max-height $transition-time $transition-easing;
    width: 100%;

    .open & {
      max-height: $transition-max;
    }

    @include breakpoint(l) {
      border-bottom: 1px solid $color-dark-border;
      max-height: 100vh;
    }

    li {
      border-top: 1px solid $color-dark-border;
      font-size: $font-size-s;
      list-style: none;
      margin: 0;
      max-width: 100%;
      text-transform: uppercase;

      @include breakpoint(l) {
        align-items: stretch;
        display: block;
        line-height: 1;
        position: relative;
      }

      &.open > a {
        background: $color-dark-hover-background;
      }

      a {
        cursor: pointer;
        display: block;
        padding: $space-m;

        @include breakpoint(l) {
          line-height: $space-l;
          padding: $space-s $space-m;
        }

        &:active,
        &:focus,
        &:hover {
          background-color: $color-dark-hover-background;
          color: inherit;
        }

        span {
          font-size: $font-size-s;
          padding-left: $space-xs;
        }
      }

      &.open ul {
        max-height: $transition-max;
      }

      > ul {
        box-shadow: $box-shadow;
        margin: 0;
        max-height: 0;
        overflow: hidden;
        padding: 0;
        transition: max-height $transition-time $transition-easing;

        @include breakpoint(l) {
          background-color: $color-dark-background;
          left: 0;
          position: absolute;
          top: 3rem;
        }

        li {
          border-width: 0;

          &.group {
            div {
              width: 100%;
            }

            ul {
              padding: 0;
              position: relative;
              width: 100%;
            }

            a::before {
              content: '▪';
              padding: 0 $space-s;
            }
          }

          .group-header {
            font-weight: $font-weight-bold;
            padding: $space-s $space-m;
          }

          &.highlight {
            background-color: $color-dark-background-highlight;
            font-weight: $font-weight-bold;

            @include breakpoint(l) {
              grid-column: 1 / 4;
              text-align: center;
            }
          }

          a {
            padding: $space-s $space-l;

            @include breakpoint(l) {
              line-height: 1;
              padding: $space-s $space-m;
              white-space: nowrap;
              width: 100%;
            }
          }
        }
      }
    }
  }
}

.nav-toggle {
  align-self: center;
  border-color: $color-dark-border;
  font-size: $font-size-s;
  grid-column: 2;
  grid-row: 1;
  justify-self: end;
  margin: $space-m;
  padding: $space-s;
  text-transform: uppercase;

  @include breakpoint(l) {
    display: none;
  }

  .open & {
    background-color: $color-dark-hover-background;
    color: $color-dark-text;
  }

  span {
    font-size: $font-size-m;
    padding-left: $space-xs;
  }
}

.site-name {
  align-self: center;
  color: $color-dark-hover;
  display: block;
  font-size: $font-size-xl;
  font-weight: $font-weight-bold;
  grid-column: 1;
  grid-row: 1;
  line-height: 1;
  padding: $space-m;
  text-decoration: none;

  &:active,
  &:focus,
  &:hover {
    color: color(white);
  }

  span {
    font-size: $font-size-xxs;
  }
}
