<article>
  <h1>Jira Board</h1>
  <div>
    <div *ngFor="let item of tickets; let i = index" [attr.data-index]="i">
      <section>
        <a (click)="isOpen[i] = !isOpen[i]"><strong>{{item["Issue key"]}}</strong>: {{item["Summary"]}}</a>
      </section>
      <aside>
        <div *ngIf="isOpen[i]">
          <ul>
            <li><markdown-to-html [data]="item['Description']"></markdown-to-html></li>
            <li><strong>Status:</strong> {{item["Status"]}}</li>
            <li><strong>Issue Type:</strong> {{item["Issue Type"]}}</li>
            <li><strong>Created:</strong> {{item["Created"]}}</li>
            <li><strong>Updated:</strong> {{item["Updated"]}}</li>
            <li><strong>Sprint:</strong> {{item["Sprint"]}}</li>
          </ul>
        </div>
      </aside>
    </div>
  </div>
</article>
